@import "../../../scss/variables";
@import "../../../scss/global";

.secondHeader__container {
  color: $white;
  background-color: $charcoal;
  height: 40px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 60px;
  z-index: 4;
  padding: 0 20px;
  place-content: space-between;

  > .secondHeader__navbar {
    display: flex;
  }
}

.secondHeader__container--menu-image {
  margin-right: 5px;
  position: relative;
  top: 4px;
}