@import "../../../scss/variables";

.a-card {
  z-index: 3;
  margin: 0 !important;
  padding: 20px !important;
  > a {
    text-decoration: none;
  }
  > a > .p-center {
    font-size: 1.3rem;
    color: $black;
  }
  > .category-photo {
    width: 100%;
  }
}