@import "../../../scss/variables";

.header__container {
  place-content: space-between;
  height: auto;
  display: flex;
  align-items: center;
  background-color: $header-background;
  position: sticky;
  top: 0;
  z-index: 5;
}

.left-panel, .right-panel {
  display: flex;
}

.right-panel {
  margin-right: 20px;
}

.header__container--searchBar {
  margin: auto;
  display: flex;
  > .ADropdown__container {
    width: 70px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  > .ASearchBar__container {
    > .a__input > .a__input--input {
      width: 500px;
    }
    > .searchIcon__container {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}
.dropdown-image {
  margin-left: 5px;
  height: 10px;
  position: relative;
}

.header__container--languagePanel {
  margin: auto 5px auto 20px;
  padding: 10px 5px;
  > .flag-image {
    position: relative;
    top: 9px;
    height: 20px;
  }
  > .dropdown-image {
    top: 5px;
  }
  &:hover {
    cursor: pointer;
    outline: $standard-outline;
    border-radius: $standard-border-radius;
  }
}

.login-panel {
  > .dropdown-image {
    top: 27px;
  }
}
.basket-panel {
  > .basket-panel__span {
    margin-left: 5px;
    position: relative;
    top: 15px;
  }
  > .basket-items {
    position: relative;
    left: 22px;
    top: -13px;
    color: $yellow;
  }
}
