@import '../../../scss/variables';

.left-menu {
  overflow-y: scroll;
  position: absolute;
  background: white;
  top: 40px;
  left: 0;
  z-index: 10;
  width: 400px;
  height: 100%;
  > .header-1 {
    display: flex;
    height: 50px;
    background: #232f3e;
    margin: auto;
    > .p-center {
      color: white;
      margin: auto 0 auto 20px;
      font-weight: 700;
    }
    > .user {
      width: 30px;
      height: 30px;
      margin: auto 0 auto 20px;
    }
  }
}

.left-menu__p-title {
  font-weight: 700;
  font-size: 1.2rem;
  padding: 13px 20px 5px 36px;
}

.left-menu__p-container {
  place-content: space-between;
  padding-right: 20px;
  &:hover {
    background: #eaeded;
  }
  > .left-menu__p-normal {
    padding: 10px 20px 10px 36px;
  }
  > .left-menu__arrow-right {
    width: 15px;
    height: 15px;
    margin: auto 0;
  }
}

.left-menu__p-container-2 {
  > a {
    color: $black;
    text-decoration: none;
  }
}

.left-menu__p-normal-2 {
  padding: 5px 20px 5px 60px;
  &:hover {
    background: #eaeded;
  }
}