@import "../../../scss/variables";

.product-page {
  margin: 10px 2%;
  > .product-line {
    > a {
      color: $rating;
      font-weight: bold;
      font-size: 0.8rem;
      text-decoration: none;
    }
    > a:hover {
      text-decoration: underline;
    }

  }
}

p {
  margin-bottom: 0px;
}