@import "../../../../../scss/variables";

.ListDisplay__container {
  background: $pure-white;
  position: absolute;
  top: 68px;
  left: 235px;
  z-index: 10;
  width: 200px;
  overflow-y: scroll;
  border: 1px solid $black;
  > span {
    display: flex;
    padding: 5px 2px;
    &:hover {
      background: $option-highlighted;
      color: $white;
    }
  }
}