@import '../../../scss/variables';

.register-panel__container {
  margin-top: 25px;
  margin-bottom: 100px;
  > .global__amazon--logo--container {
    text-align: center;
    > .global__amazon--logo {
      width: 200px;
    }
  }
  > .register-panel {
    border: $grey-border;
    padding: 20px;
    > .register-title {
      font-size: 24px;
      font-weight: 400;
    }
    > .register-form {
      padding-bottom: 20px;
      border-bottom: $grey-border;
      > .a__input {
        margin-top: 15px;
        > .a__input--input {
          width: 100%;
        }
      }
    }
  }
}