@import "../../../scss/variables.scss";

.a__input {
}
.a__input--input {
  height: 30px;
  background-color: $white;
  &:focus-visible {
    border: none;
  }
}
.a__input--label {
  margin: 0 0 2px 0;
}