@import "../../../../scss/variables";

.product-delivery {
  border: $grey-border;
  border-radius: 5px;
  padding: 18px;
  > .delivery-time {
    > .delivery-time__1 {
      color: $delivery;
      font-weight: 700;
    }
  }
  > .delivery-address {
    margin-top: 20px;
    > .delivery-location {
      width: 15px;
      margin-right: 5px;
    }
    > span {
      color: $delivery;
      text-transform: lowercase;
    }
    > span:hover {
      cursor: pointer;
      color: $link-onHover;
    }
  }
  > .delivery-address:hover {
    > span {
      color: $link-onHover;
    }
  }
  > .delivery-quantity {
    display: flex;
    > .a__select-input {
      margin-left: 10px;
    }
  }
  .is-product-available {
    color: $available;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 10px;
    text-align: center;
  }
  .purchase-options {
    margin: 10px auto 15px auto;
    text-align: center;
    > .a__button {
      margin-top: 10px;
    }
  }
  button {
    border: none;
    border-radius: 20px;
    height: 30px;
    font-size: 13px;
    line-height: 29px;
  }
  .add-to-basket-button {
    background: $button-add-to-basket;
  }
  .buy-now-button {
    background: $button-buy-now;
  }

  .safe-transaction {
    padding-bottom: 10px;
    border-bottom: $grey-border;
    > .safe-transaction-p {
      color: $delivery;
      > .safe-transaction-img {
        width: 15px;
        margin-right: 5px;
      }
    }
    > .safe-transaction-p:hover {
      cursor: pointer;
      color: $link-onHover;
    }
  }

  .add-to-wishlist {
    margin-top: 10px;
    > .add-to-wishlist-button {
      background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
      border-radius: $standard-border-radius;
      border: $standard-border;
      box-shadow: 0 1px 0 rgb(255 255 255 / 60%) inset;
      height: 40px;
      text-align: left;
    }
  }
}