@import "./scss/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.app {
    font-family: Lato, serif;
}
a {
    color: $white;
    text-decoration: none;
}

button:hover, img:hover {
    cursor: pointer;
}

.blue {
    color: $blue;
}

.black {
    color: $black;
}


// global
