@import "variables";
@import "./global/paragraph";

.flex {
  display: flex;
}
.image__container {
  margin: auto 5px;
}
.global__navbar--link {
  margin: auto 5px;
  background: transparent;
  color: $white;
  border: none;
  font-size: 1rem;
  padding: 5px;

  &:hover {
    cursor: pointer;
    outline: $standard-outline;
  }

  > .link {
    font-size: 1rem;
    color: $white;
    text-decoration: none;
  }
}

.global__amazon--logo {
  width: 100px;
  object-fit: contain;
  margin: 18px 20px 0 20px;
}

.span-error {
  color: #ff3b00;
  font-weight: 700;
  font-size: 0.8rem;
  text-align: center;
}

// buttons
.global__form--submitButton {
  background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
  &:hover {
    background: #f0c14b;
  }
  &:active {
    border-color: #a88734 #9c7e31 #9c7e31;
  }
  &:focus {
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
  }
}


// forms
.globa__afterForm--hint {
  margin-top: 10px;
  font-size: 12px;
  > a {
    padding-left: 5px;
  }
}

// p
.p-center {
  text-align: center;
}
.bold {
  font-weight: bold;
}

// a
.global__link-1 {
  color: $black;
  text-decoration: none;
  &:hover {
    color: $black;
    text-decoration: none;
  }
}