// main color palette
$yellow: #ff9900;
$blue: #146eb4;
$black: #000000;
$charcoal: #232f3e;
$white: #f2f2f2;
$grey: #cdcdcd;
$pure-white: #ffffff;

// search icon container
$search-icon-background: #febd69;

// button
$button-filled-background: #f0c14b;
$button-filled-border: #a88734 #9c7e31 #846a29;
$button-add-to-basket: #FFD814;
$button-buy-now: #FFA41C;

$button-transparent-border: rgb(170, 169, 169);

// header
$header-background: #131921;
$header-search-icon-background: #cd9042;

// dropdown
$option-highlighted: #1c33da;

// outline
$standard-outline: 1px solid $white;

// border
$standard-border: 2px solid $white;
$standard-border-radius: 2px;
$grey-border: 1px solid #e7e7e7;

// font
$rating: #007185;
$delivery: #007185;
$available: #007600;
$link-onHover: #C7511F;

