@import "../../../scss/variables";

.search-result {
  border-top: $grey-strong-border;
}
.search-result:nth-child(even) {
  background: #e9e8e8;
}
.search-result__image {
  width: 40px;
  height: 40px;
}